bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/ConsoleApp1/v17/.futdcache.v1
/.idea/.idea.ConsoleApp1/.idea/.gitignore
/.vs/ConsoleApp1/v17/.suo
/.idea/.idea.ConsoleApp1/Docker/compose.generated.override.yml
/.idea/.idea.ConsoleApp1/.idea/encodings.xml
/.idea/.idea.ConsoleApp1/.idea/indexLayout.xml
/.idea/.idea.ConsoleApp1/.idea/vcs.xml
